DB_USERNAME=postgres
DB_PASSWORD=YashChatse
JWT_SECRET=c0ll@bSp@ce$uper$ecretKey2024MustBe32CharsMin!

CLOUDINARY_CLOUD_NAME=dbjat0rvp
CLOUDINARY_API_KEY=438463263177185
CLOUDINARY_API_SECRET=3Gag-zq1yzizj3qz-6_RdNkFCvo